body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: inherit;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 20px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  font-size: 1.2rem;
  overflow-x: hidden;
  background: #232527;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: auto;
}
.sidebar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.sidebar ul {
	   list-style-type: none;
}
.sidebar .nav-item .sublink {
  font-size: 1rem;
    padding-left: 50px;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #8B8E93;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #8B8E93;
}

.sidebar .nav-link.active {
  color: #FAC646;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.menulink {
	padding-left: 2rem !important;
}

@media (min-width: 992px) {
	.col-lg-23 {
		flex: 0 0 auto;
		width: 19.3%;
	}
	.col-lg-97 {
		flex: 0 0 auto;
		width: 80.7%;
	}
}
